//color
$color-bg:#E3F1F1; //color background
$color-bc:#B4CFCC; //color background container
$color-bb:#CA9C34; //color button background
$color-cd:#374a7a; //color card
$color-hv:#425C59; //color vertical
$color-tl:#f5f5ea; //color title
$color-st:#cad5f5; //color subtitle
$color-ds:#b8c8e8; //color descripción
$color-sp:#6e80a9; //color span
$color-lg:#3D5653; //color span
$color-ip:#85a3a0;
//text
$text-tl: 2rem; //text title
$text-st: 1rem; //text subtitle
$text-ds: 1rem; //text descripción
$text-sp: .7rem; //text span
$text-sf: sans-serif;  //style and font family
//radio
$border-r: 20px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

$fonts_ops:'Open Sans', sans-serif;
$fonts_ps:'Poppins', sans-serif;

.home{
  background: $color-bg;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;

  h2{
    font-weight: 300;
    color: $color-lg;
    font-family: $fonts_ops;
  }
  
  .home__nav{
    background: $color-hv;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;

    .home__logo{
      background: $color-lg;
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .home__nav__v{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 10px;

      button{
        border-left: 0px solid $color-bb;
        border-top: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid transparent;
        height: 40px;
        background: transparent;
        border-radius: 0px 0px 0px 0px;

      }

      &::before{
        border-left: 5px solid $color-bb;
        background: $color-lg;
      }
      .home__buton_btn{
        width: 100px;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        bottom: 0px;

        button{
          width: 100%;
        }

        
      }
      
    }
  
  }

  //container home
  .home__container{
    width: 95%;

    .home__nav_h{
      width: 100%;
      height: 80px;
      background: $color-hv;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0px;

      button{
        width: 150px;
        height: 100%;
        margin-left: 20px;
        background: transparent;
        border-left: 0px solid transparent;
        border-top: 5px solid $color-bb;
        border-right: 0px solid transparent;
        border-bottom: 0px solid transparent;
        color: $color-bb;
        font-size: .95rem;
        font-family: $fonts_ops;
      }

    }

    .home__conten{
      width: 98%;
      height: 87vh;
      margin: 20px auto;
      background: $color-bc;
      overflow: hidden;
      border-radius: 10px;

      .home__info_nav{
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        h2{
          margin-left: 10px;
        }
        .home__input{
          border-radius: 20px;
          width: 600px;
          height: 40px;
          margin-right: 10px;
          overflow: hidden;
          background: $color-ip;
          

          input{
            width: 94%;
            margin: auto;
            margin-left: 20px;
            height: 100%;
            border-radius: 25px;
            outline: none;
            border: none;
            background: $color-ip;
            color: $color-lg;
            font-size: 1rem;
          }
        }

      }

      .home__body__container{
        width: 100%;
        height: 81vh;
        overflow-y: scroll;

        table{
          font-family: $fonts_ops;
            border-collapse:collapse;
            width: 98%;
            margin: auto;

            th,td{
              border: 1px solid $color-lg;
              padding: 8px;
              border-left: 0px;
              border-right: 0px;
            }
            td{
              align-items: center;
              color: $color-lg;
              font-size: .82rem;
              animation: loop-y .6s linear ;

              @keyframes loop-y {
                0%{
                  transform: translateY(-10px);
                  opacity: 0%;
                }
                100%{
                  transform: translateY(0px);
                  opacity: 100%;
                  
                }
                
              }

            }
         

          th{
            padding-top: 12px;
              padding-bottom: 12px;
              text-align: left;
              background-color: $color-ip;
              color: $color-lg;
              font-weight: 400;
              font-size: .9rem;
          }
        }
      }

      
    }

    .home__container__right {
      width: 100%;
      height: 91vh;
      
      
      .desing {
        width: 100%;
        height: 91vh;
        display: flex;
        flex-wrap: wrap;
        animation: loopx .6s linear;

        .desing__conten{
          width: 60%;
          height: 100%;
          background: $color-bc;
          animation: loopx .6s linear;

          .desing__container__canvas{
            width: 100%;
            height: 50%;

            .desing__canvas{
              width: 100%;
              height: 100%;
              background: $color-bg;
              animation: loopx .6s linear;
            }
          }
          .desing__descrip__canvas{
            width: 100%;
            height: 50%;
            overflow-y: scroll;
            animation: loopx .6s linear;
          }
        }
        
        .desing__cotizar{
          width: 40%;
          height: 100%;
          background: $color-hv;
          animation: loopx 1s linear;
        }
        @keyframes loopx {
          0%{
            transform: translatey(-1%);
            opacity: 0%;
          }
          100%{
            transform: translatey(0%);
            opacity: 100%;
          }
        }
      }
    }
  }

}